<ion-view view-title="Login" name="login-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
 
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      Save The Children
      <br><br><br>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      
      <button class="button button-block button-assertive" ng-click="login()">Login</button>

      <button class="button button-full button-stable" ng-click="performCreateAccountRequest()">
        Create Account
      </button>
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>